/* TABLE OF CONTENT
    -------------------------------------------------- 
    
    1. HEADINGS
    2. NAVBAR

    4. ABOUT US
    5. SERVICE

    10. CLIENTS

    12. CONTACT    
    13. FOOTER
    14. FEATURE STYLES
    15. RESPONSIVE CSS
     
    */
    
    /* 1. HEADINGS
    -------------------------------------------------- */

.icon-wrench .icon-mobile .icon-desktop {
  background-color: #B8C935!important;
}


body {
   font-family: 'Roboto', sans-serif;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.nav-logo {
  padding: 5px 10px;
  margin: 0px;
  background-color: #e6e7e8!important;
}
    /*background: #d35400;*/
/*.nav-logo:hover {*/
  /*background-color: #e67e22!important;*/
/*}*/

h1 {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size:50px;
  text-align: center;
}

h3 {
  font-size: 40px;
  text-align: center;
}

h4 {
    font-size: 30px;
}

h5 {
  font-size: 20px;
  font-weight: lighter;
}

h6 {
  font-size: 12px;
}

.subhead {
  color: #fff;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Days', sans-serif!important;
}

    /* 2. NAVBAR
    -------------------------------------------------- */

    #menu {
	    z-index: 11000;
    }


/* HEADER
------------------------------------------------------*/
.header {
  margin: 0;
  padding: 0;
  height: 650px;
  width: 100%;
  /*background: url(../img/carousel-bg-utal.jpg) center top no-repeat fixed;*/
  background: url(../img/sklad-1920x800.jpg) center top no-repeat fixed;
}

.logo-head {
  margin-left: 5%;
  margin-top: 25%;
}
.logo-head h1 {
  text-align: left;
  color: white;
}
.logo-head h3 {
  text-align: left;
  color: white;
}

.logo-head img {
  height: 164px;
  width: 400px;
}

/* HEADER END */


/* 3. SLIDER BACKGROUND
-------------------------------------------------- */

#top-slider {
  width: 100%;
  height: 600px;
  text-align: center;
  z-index: 100;
}

#top-slider .slider-bg {
  /*background: url(../img/carousel-bg.jpg) 0 0 repeat fixed;	*/
  /*background: url(../img/scania-bg.png) 0 0 repeat fixed;*/
  background: url(../img/carousel-bg-utal.jpg) 0 0 repeat fixed;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 800px;
}

    /* 4. ABOUT US
    -------------------------------------------------- */
    
    /* BUTTONS (YOU CAN DELET THIS IF YOU DONT USE IT) */
    
    .btn-buy {
	    text-align: right;
	    margin: 0px 0px 60px 0px;
    }
    
    .btn-like {
	    text-align: left;
	    margin: 0px 0px 60px 0px;
    }
    
    .btn-top {
	    text-transform: uppercase;
        font-size: 20px;
	    padding: 10px 20px
    }

     /* #Skills */

    .skills {
    	padding-top: 5px;
    	padding-bottom: 20px;
    }

    #skillbar { 
    	list-style: none;
    	width: auto;
    	margin: 5px auto 0;
    	position: relative;
    	padding: 5px 0;
    }

    #skillbar li { 
        margin-top: 35px;
    	margin-bottom: 15px; 
    	background: #dcd5d5;  
    	height: 10px; 
    }

    #skillbar li p {
        padding-top: 15px;
        text-align: left;
        margin-left: 2px;
        font-size: 12px;
    }

    .skillbar { 
    	height: 6px; 
    	margin: 2px 2px;  
    	position: absolute;
    }

    .html {
    	width: 95%;  /* YOUR SKILL VALUE HERE */
    	-moz-animation: html 15s ease-out;
    	-webkit-animation: html 15s ease-out;
    	background-color: #e67e22;
    }

    .css {
    	width: 90%; /* YOUR SKILL VALUE HERE */
    	-moz-animation: css 15s ease-out;
    	-webkit-animation: css 15s ease-out;
    	background-color: #e67e22;
    }

    .java {
    	width: 55%; /* YOUR SKILL VALUE HERE */
    	-moz-animation: java 15s ease-out;
    	-webkit-animation: java 15s ease-out;
    	background-color: #e67e22;
    }

    .php {
    	width: 65%; /* YOUR SKILL VALUE HERE */
    	-moz-animation: php 15s ease-out;
    	-webkit-animation: php 15s ease-out;
    	background-color: #e67e22;	
    }

    .psd {
    	width: 85%; /* YOUR SKILL VALUE HERE */
    	-moz-animation: psd 15s ease-out;
    	-webkit-animation: psd 15s ease-out;
    	background-color: #e67e22;	
    }
    
    /* animation keyframes */

    @-moz-keyframes html {0%  { width:0px;} 100%{ width:95%;}  }
    @-moz-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
    @-moz-keyframes java      { 0%  { width:0px;} 100%{ width:55%;}  }
    @-moz-keyframes php   { 0%  { width:0px;} 100%{ width:65%;}  }
    @-moz-keyframes psd   { 0%  { width:0px;} 100%{ width:85%;}  }

    @-webkit-keyframes html       { 0%  { width:0px;} 100%{ width:95%;}  }
    @-webkit-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
    @-webkit-keyframes java      { 0%  { width:0px;} 100%{ width:55%;}  }
    @-webkit-keyframes php   { 0%  { width:0px;} 100% { width:65%;}  }
    @-webkit-keyframes psd   { 0%  { width:0px;} 100% { width:85%;}  }
    
    /* 5. SERVICE
    -------------------------------------------------- */

    .service {
        padding: 0px 40px 20px 40px;
    }
    
    .service-col {
	    margin: 0px 10px;
	    padding: 30px 10px;
	    -webkit-transition:  ease-out 0.6s;
        -moz-transition: ease-out 0.6s;
        -o-transition: ease-out 0.6s;
        transition: ease-out 0.6s;
    }
    
    .service-col h4 {
	    border-bottom: 1px solid transparent;
	    padding: 10px 0px;
    }
    
    .service-col p {
	    padding: 10px;
    }
    
    .service-col:hover {
	    -webkit-transition: all 0.6s linear;
        -moz-transition: all 0.6s linear;
        -o-transition: all 0.6s linear;
        -ms-transition: all 0.6s linear;
        transition: all 0.6s linear;
    }
    
    .service-col:hover p {
	    padding: 10px;
    }

    .service-col:hover > div {
        text-shadow: 1px -1px 0px rgba(0,0,0,0.5);
	    -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
    }
    
    /* Icon rotation effect  */
    
    .rotate {
	    -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        border-radius: 50%;
    }
    
    .rotate:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        border-radius: 50%;   
    }
    
   /* Icons  */


.icon-wrench, .icon-mobile, .icon-desktop {
  /*background: url('../img/icon-bg.png') repeat-x center center;*/
  background: #B8C935 repeat-x center center;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.icon-wrench, .icon-mobile {
  padding-top: 25px;
}
.icon-desktop {
  padding-top: 22px;
}


    .webdesign {
	    z-index: 1000;
    }
    
    /* Hire Us Button  */
    
    .service-btn {
	    margin-top: 40px;
    }
    
    .btn-hire {
        text-transform: uppercase;
        font-size: 20px;
	    padding: 10px 20px;
    }



     /* 10. CLIENTS
    -------------------------------------------------- */
    
    .testemonials p {
	    text-align: center;
	    font-size: 20px;
    }
    
    /*	CLIENT CAROUSEL SETTINGS  */

#clientslider {
  display: none;
}

    .nbs-flexisel-container {
        position: relative;
        max-width: 100%;
    }
    
    .nbs-flexisel-ul {
        position: relative;
        width: 9999px;
        margin: 0px;
        padding: 0px;
        list-style-type: none;   
        text-align: center; 
    }

    .nbs-flexisel-inner {
        overflow: hidden;
        float: left;
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; 
    }

    .nbs-flexisel-item {
      /*background-color: #FEF284;*/
      background-color: #ffffff;
      height: 150px;
        float: left;
        /*margin: 0px;*/
        /*padding: 0px;*/
      padding-left: -40px;
        cursor: pointer;
        position: relative;
        line-height: 0px;
      /*text-align: center;*/
    }
.nbs-flexisel-item a {
  display: block;
  width: 100%;
  text-align: center;
}
    
.nbs-flexisel-item img {
  width: 100%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  max-width: 100px;
  max-height: 100px;
}

   /* CLIENT SLIDER Navigation  */

    .nbs-flexisel-nav-left,
    .nbs-flexisel-nav-right {
        width: 30px;
        height: 30px; 
        margin-top: 15px;
        margin-left: 10px;
        cursor: pointer;
        z-index: 100;
        float: left;
    }

    .nbs-flexisel-nav-left {
        left: 10px;
        background: url(../img/button-previous.png) no-repeat;
    }

    .nbs-flexisel-nav-right {
        background: url(../img/button-next.png) no-repeat;
    }
    
     /* 11. FUN FACTS
    -------------------------------------------------- */
    
    .fun-facts {
	    margin: 60px 0px !important;
    }

    .fun-fact {
	    padding: 10px 0px;
	    text-align: center;
    }
    
     /* 12. CONTACT
    -------------------------------------------------- */

#map {
  height: 100%;
  width: 100%;
  z-index: 400 !important;
  position: relative;
}

iframe {
  padding-bottom: -10px;
  width: 100%;
  height: 500px;
}

/* SOCIAL MEDIA ICON DIVIDER  */

#divider {
  width: 100%;
  height: 500px;
  text-align: center;
  z-index: 200;
}

#divider .divider-bg {
  background: url("../img/img-divider-img.jpg") repeat 0 0 fixed;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 500px;
}

.social-icons {
  padding-top: 220px;
}

 a.social-media {
  padding: 10px;
position: relative;
z-index: 300;
text-align: center;
}
    
    /* 13. FOOTER
    -------------------------------------------------- */
    
    /* BOTTOM CONTENT */
    
    .bottom-con {
	    padding-bottom: 20px;
    }
    
    .bottom-con h5 {
        text-align: center;
    }
    
    .bottom-con p {
        padding-left: 30%;
	    text-align: left;
    }
.bottom-con a:hover {
    color: #D57C28;
    text-decoration: underline;
}
    
    .newsletter {
	    margin-top: 15px;
	    padding: 0px 50px 0px 50px;
	    text-align: center;
    }
    
    /* GOING UP ARROW */

    .up{
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    position: absolute;
	    top: -85px;
	    left: 50%;
	    margin-left: -50px;
	    -webkit-transition:  ease-out 0.5s;
        -moz-transition: ease-out 0.5s;
        -o-transition: ease-out 0.5s;
        transition: ease-out 0.5s;
        z-index: 1000;
	}
	
	.up:hover{
		top: -50px;
		-webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
        z-index: 1000;
	}
	
	.up span {
	    font-size: 40px; 
	    margin-top: 45px;
	    margin-left: 32px;
	}

  .copy-text {
    margin-right: 2%;
  }

	/* 14. FEATURE STYLES
    -------------------------------------------------- */

    /* HEADING BOARDERS */
    
    .head-border-white {
	    width: 20%;
	    height: 0px;
    }
    
    .head-border-grey {
	    width: 20%;
	    height: 1px;
    }

    /* IMAGE STYLES  */
    
    /* rotate effect  */
    
    #rotate {
	    -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        border-radius: 50%;
    }
    
    #rotate:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        border-radius: 50%;
    }
    
    /* zoom effect  */
     
    #zoom {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    #zoom:hover {
        width: 280px;
        height: 280px;
        border: 4px solid #334d66;
        border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
    }
    
    /* SOCIAL FONT ICON STYLES  */
    
    /* hover color styles  */
    
    .twitter i:hover {
	    color: #00aced;
    }
    
    .facebook i:hover {
	    color: #3b5998;
    }
    
    .linkedin i:hover {
	    color: #007bb6;
    }
    
    .pinterest i:hover {
	    color: #cb2027;
    }
    
    .google i:hover {
	    color: #dd4b39;
    }
    
    .tumblr i:hover {
	    color: #32506d;
    }
    
    .vimeo i:hover {
	    color: #aad450;
    }
    
    .instagram i:hover {
	    color: #3f729b;
    }
    
    /* FONT STYLES  */
    
    .head {
	    margin-bottom: 60px;
    }
    
	/* different font colors  */
    
    .red {
	    color: #a6340c;
    }
    
    .orange {
	    color: #e67e22;
    }   
    
    .yellow {
	    color: #f1c40f;
    }  
    
    .blue {
	    color: #2b3959;
    }  
    
    .d-grey {
	    color: #443e44;
    }  
    
    l-grey {
	    color: #9e968f;
    }
    
    .grey {
	    color: #dcd5d5;
    }
    
    .cloudy {
	    color: #ecf0f1;
    }
    
    .white {
	    color: #fff;
    }
    
    .black {
	    color: #000;
    }
    
    .center {
	    text-align: center;
    }

    /* 15. MEDIA RESPONSIVE
    -------------------------------------------------- */
    
    @media only screen and (min-width: 1200px) {
    
    /* Top Slider */
    
     #top-slider .slider-bg {
        background-size: cover;
    }
    
    .slider-caption {
	    padding-top: 10px;
    }

    .slider-image {
      bottom: 120%!important;
      /*left: -20%!important;*/
      /*padding-top: 10px;*/
      margin: 0 0 0 10%;
    }
    
    /* About Us */
    
    .agency-image {
	    padding-top: 40px;
	    padding-bottom: 60px;
    }
    
    /* Our Process */
    
    .process { 
        width: 1000px;
       }
       
    .process-con { 
        margin: 0 20px;
    }
    
    /* Social Media Divider */
    
    #divider .divider-bg {
        background-size: cover;
    }

    }

    @media (min-width: 980px) {
      .slider-image {
        bottom: 120%!important;
        padding-top: 10px;
        margin: 0 auto 0 -35%;
      }
    }

    @media (max-width: 979px) {
    
    /* Price Table */
    
    .table-feature {
      margin-top: 10px;
    }
	
	/* Top Slider */
    
    .slider-caption {
	    padding-top: 10px;
    }

    .slider-image {
      bottom: 120%!important;
      padding-top: 10px;
      margin: 0 auto 0 -35%;
    }
    
    /* Navbar */
    
     .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
     }
     
     .navbar-inner {
        border-radius: 0;
        margin: 1px 0;
     }
     
     /* Filter */

    .filter-list ul{
        text-align: center;
    }
    
    /* Our Process */
      
     .process { 
        width: 760px;
     }
      
    .process-con.img1  { 
        margin-top: 100px;
    }
    
    .process-con.img2  { 
        margin-top: 30px;
    }
     
    .process-con.img3  { 
        margin-top: 20px;
    }
    
    /* Contact Form */
      
    .input-group {
	    max-width: 300px !important;
	    float: none;
        margin: 0 auto;
    }
	
	.form {
		padding-bottom: 50px;
	}
	
	
	.requi {
	    padding-left: 15px;
	    font-size: 12px;
    }

    }

    @media only screen and (max-width: 767px) {
    
    
    /* Top Slider */
    
    #top-slider {
    	width: 100%;
    	height: 500px;
     	text-align: center;
    	z-index: 100;
    }

    #top-slider .slider-bg {
   	 	margin: 0 auto;
      padding: 0;
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 600px;
    }

    .slider-image {
      bottom: 120%!important;
      padding-top: 10px;
      margin: 0 0 0 -35%;
    }
    
    .slide {
	    padding-top: 30%;
    }
    
    /* Team */
   
   .team {
      -webkit-transition:  none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    
    .team:hover {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
    
    /* Filter */
    
    .filter-list ul{
        text-align: center;
    }
    
    /* Process */
    
    .our-process { 
       background: #000 url(../img/process/our-process-mobil.svg) no-repeat center top;
    }

    .process { 
       width: 300px; 
       height: auto;  
       padding-top: 20px;
    }
       
    .process-con.img1 { 
       margin-left: 10px; 
       margin-right: 0; 
       height: auto;
     }
       
    .process-con.img2 { 
       margin-left: 10px; 
       margin-right: 0; 
       margin-top: 10px; 
       height:auto;
    }
      
    .process-con.img3 { 
       margin-left: 10px; 
       margin-right: 0; 
       margin-top: 10px; 
       height:auto;
    }

    .process-con h5 { 
       display:inline-block;  
       padding: 5px 1px;
    }
    
    /* Contact Form */
    
    .requi {
	    padding-left: 15px;
	    font-size: 12px;
    }
    
    /* Social Media Divider */
    
    .social-icons {
	    padding-top: 120px;
    }
    
    #divider .divider-bg {
    	margin: 0 auto;
		padding: 0;
		position: absolute;
		z-index: 300;
		width: 100%;
		height: 600px;
    }

    }
    
    @media (max-width: 489px) {
    
    /* Filter */
    
    .filter-list ul{
        text-align: center;
    }
    
    .filter-list ul li {
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
    }
    
    .nav-pills > li > a {
        position: relative;
        display: block;
        padding: 5px 10px
    }
    
    .gallery ul li {
      margin: 0;
      padding: 0px 0;
      float: left;
    }
    
    .gallery ul li:hover {
      margin: 0;
      padding: 0px 0;
      float: left;
    }
    
   .gallery ul li:hover img {
      opacity: 0.1;
    }
    
    .gallery ul li:hover strong {
      font-size: 12px;
      margin: 0;
      padding: 10px 0;
      position: absolute;
      display: block;
      text-align: center;
      bottom: 55%;
      opacity: 0.9;
    }
    
    .gallery ul li:hover p {
      font-size: 12px;
      margin: 0;
      padding: 0px 0px 20px 0px;
      position: absolute;
      width: 100%;
      display: block;
      text-align: center;
      bottom: 0;
    }

    .gallery ul li:hover p span {
      margin-top: 20px;
      font-size: 12px;
      display: block;
    }

    }
    
    @media (max-width: 379px) {
    
    /* Heading */
    
    h1 {
	    font-size: 50px;
    }
    
    /* Top Slider */

    #top-slider {
    	width: 100%;
    	height: 350px;
     	text-align: center;
    	z-index: 100;
    }
    
    #top-slider .slider-bg {
   	 	margin: 0 auto;
		padding: 0;
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 400px;
    }
    
    /* Button */
    
    .btn-top {
	    text-transform: uppercase;
        font-size: 10px;
	    padding: 10px 20px
    }
    
    /* About Us */
    
    .agency-heading {
        text-align: center;
        font-size: 50px;
    }
    
    /* Filter */
    
    .filter-list ul{
        text-align: center;
    }
    
    .filter-list ul li {
        margin-top: 5px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 10px;
    }
    
    .nav-pills > li > a {
        position: relative;
        display: block;
        padding: 5px 10px
    }

    .team-grid  {
        position: relative;
        display: inline-block;
        width: 180px;
        height: 180px;
    }
    
    .media-object {
	    display: none;
    }
    
    /* Social Media Divider */
    
    .social-icons {
	    padding-top: 40px;
    }
    
    #divider .divider-bg {
    	background-size: cover;
    }

    }

/* Days */
@font-face {
  font-family: Days;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  src: url("../fonts/days.ttf");
}