/* TABLE OF CONTENT
    -------------------------------------------------- 

    1. NAVBAR
    2. ABOUT US
    3. SERVICE
    4. PORTFOLIO
    5. TEAM
    6. PRICE TABLES
    7. PROCESS
    8. CLIENTS
    9. FACTS
    10. CONTACT    
    11. FOOTER
    12. BORDERS
    13. RESPONSIVE CSS
     
    */

/* 1. Navbar
-------------- */

.navbar-inverse {
  font-size: 16px;
  background-color: #e6e7e8;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}

.navbar-inverse a {
  color: #254434!important;
}
/* 2. About Us
-------------- */

/*#254434*/

#about {
  background: white;
  padding: 120px 0px;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 900;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

#about h1 {
  color: #254434;
}

#about p {
  color: #254434!important;
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  /*color: #000000;*/
}

#skillbar h6 {
  color: #fff !important;
}


/* 3. Avto
-------------- */

#avto {
  background: #e6e7e8;
  padding: 120px 0px;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 900;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

#avto h1 {
  color: #254434;
}

#avto p {
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  color: #254434;
}

#skillbar h6 {
  color: #fff !important;
}


/* 3. Service
-------------- */
  /*#e6e7e8*/
#service {
  background: #ffffff;
  padding: 120px 0px;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 900;
  text-align: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

 #service h1 {
  color: #254434;
}

.service-col:hover {
  background: #e6e7e8;
  color: #fff;
}

.service-col h4 {
  color: #254434;
}

.service-col:hover h4 {
  color: #254434 !important;
  border-bottom: 1px solid #fff;
}

.service-col p {
  color: #254434;
}

 .service-col:hover p {
  color: #254434;
}

.service-col:hover > div {
    background: #e67e22;
    color: #fff;
}


/*7. Clients
-------------- */

#clients {
  background: #e6e7e8;
  padding: 120px 0px ;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1000;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

 #clients h1 {
  color: #254434;
}

.testemonials p {
  color: #254434;
}

.testemonials .author {
  color: #e67e22;
}

.nbs-flexisel-item {
    border-bottom: 1px solid #fff;
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    background-color: #443e44 !important;
}

.nbs-flexisel-nav-left:hover,
.nbs-flexisel-nav-right:hover {
    background-color: #e67e22 !important;
}


/* 9. Contact
-------------- */

#contact {
  /*background: #254434;*/
  background: #808285;
  padding: 50px 0px 5px 0px;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 900;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}

#contact h1 {
  color: #fff;
}

.requi {
  color: #fff;
}

/* 10. Footer
-------------- */

#foot {
  background: #e6e7e8;
  padding: 10px 0px ;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 900;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}

.bottom-con h5 {
  color: #fff;
}

.bottom-con p {
  padding-left: 30%;
  text-align: left;
  color: #fff;
}

.footer a:hover {
  color: #e67e22;
}

/* GOING UP ARROW */

.up {
  background: #e6e7e8;
}

.up span:hover {
  color: #e67e22 ;
}

.up span {
    color: #3d3d3d;
}

/* 11. Borders
-------------- */

.head-border-white {
  background: #fff;
}

.head-border-grey {
  background: #443e44;
}

/* 12. General
-------------- */

.head p {
  color: #254434;
}

@media only screen and (max-width: 767px) {

  .our-process {
     background: #e6e7e8 url(../img/process/our-process-theme3-mobil.svg) no-repeat center top;
     min-height: 1200px;
     margin-bottom: 150px;
  }

  .process-con h5 {
     background: #e6e7e8;
  }

}